$pink : #db1a94;
$grey : #9e9e9e;
$darkgrey : #424242;
$sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
$slab-serif: 'Roboto Slab', Helvetica, Arial, sans-serif;

body{
  font-family: $sans-serif;
}

.loader{
  background-color: #fff;
  height:100%;
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
  z-index:100;
  opacity:1;
  -webkit-transition: all 1s; /* Safari */
   transition: all 1s;
}
.loader-disappear{
  opacity: 0;
}

.hatch{
  position: absolute;
  top: calc(50% + 125px);
  left:50%;
  transform: translate(-50%,-50%);
  color:$grey;
  font-family: $slab-serif;
  font-weight:400;
  opacity: 0;
  -webkit-transition: opacity 0.5s; /* Safari */
   transition: opacity 0.5s;
}

.hatch-appear{
  opacity: 1;
}

.egg-still{
  position: absolute;
  top: 0%;
  left:50%;
  transform: translate(-50%,-100%);
  opacity:1;
  -webkit-transition: all 1s; /* Safari */
   transition: all 1s;
}

.egg-drop{
  top:50%;
  transform: translate(-50%,-50%);
}

.egg-disappear{
  opacity:0;
}

.egg-disappear{
  opacity:0;
}

#content{
  position: absolute;
  left:75px;
  top:50px;
}

#logo{
  position: absolute;
  left:75px;
  top:50px;

  #brandmark{
    width:37px;
  }
  #logotype{
    position:relative;
    top:-6px;
    margin-left: 15px;
    display: inline-block;
    font-size: 0.875em;
    letter-spacing:  0.5em;
    line-height: 1.75em;
    color:$darkgrey;
  }
}

#title-block{
  position: absolute;
  top: 306px;
  left:75px;
  transform: translateY(-50%);


  .title-label{
    color:$grey;
    font-family: $slab-serif;
    font-weight:400;
    font-size: 0.875em;
    letter-spacing:  0.25em;
    display:inline-block;
  }

  .line{
    display:inline-block;
    background-color:$pink;
    height:1px;
    position:relative;
    top: -0.3em;
    margin: 0 20px;
  }

  #top-line{
    width:225px;
  }

  #bottom-line{
    width:165px;
    margin: 0 20px 0 10px;
  }

  h1{
    width:500px;
    font-size: 5em;
    color:$darkgrey;
    margin: 25px 0;
  }

  .social-icon{
    width:30px;
    display:inline-block;
    position:relative;
    top:10px;
    margin-right:10px;
  }
}


#info{
  position: absolute;
  left:75px;
  top:500px;
  bottom
  :auto;

  h4{
    color: $darkgrey;
    font-size: 1em;
  }
  .info-box{
    display:inline-block;
    width: 200px;

    .details {
      font-family: $slab-serif;
      font-weight:400;
      font-size: 0.875em;
      line-height: 1.5em;
      color: $grey;

      #invite{
        color:$pink;
      }
    }
  }
}

#share{
  position:absolute;
  right:50px;
  top:550px;
  bottom:auto;
  width:12em;
  text-align: center;
  font-family: $slab-serif;
  font-weight:400;
  font-size: 0.875em;
  color:$pink;
  border-width: 1px;
  border-style: solid;
  padding:15px;
  border-color: $pink;
}




@media screen and (min-height: 750px) {

  #title-block{
    position: absolute;
    top: 45%;
    left:75px;
    transform: translateY(-50%);
  }

  #info{
    top:auto;
    position: absolute;
    left:75px;
    bottom:75px;
  }

  #share{
    right:50px;
    bottom:75px;
    top:auto;
  }

}
