/* line 9, style.scss */
html {
  font-size: 16px;
}

/* line 13, style.scss */
body {
  font-family: "Roboto";
}

/* line 17, style.scss */
.container {
  margin: 0 auto 0 auto;
  max-width: 960px;
}

/* line 23, style.scss */
#proj-container {
  column-count: 3;
  -webkit-column-count: 3;
  column-gap: 10px;
  -webkit-column-gap: 20px;
}

/* line 30, style.scss */
img {
  max-width: 100%;
}

/* line 34, style.scss */
a {
  color: #db1a94;
  text-decoration: none;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
/* line 42, style.scss */
a:hover {
  background-color: #db1a94;
  color: white;
}

/* line 48, style.scss */
.tile {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
/* line 57, style.scss */
.tile h1 {
  font-size: 1.5em;
  margin: 0 0 5px 0;
  text-transform: capitalize;
}
/* line 62, style.scss */
.tile p {
  margin: 0 0 20px 0;
}
/* line 65, style.scss */
.tile .tags {
  color: #db1a94;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: capitalize;
}
/* line 71, style.scss */
.tile .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
/* line 86, style.scss */
.tile .overlay:hover, .tile .overlay:active {
  opacity: 1;
}
/* line 90, style.scss */
.tile .overlay .text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

/* line 104, style.scss */
.proj-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

/* line 114, style.scss */
.modal_wrapper {
  display: none;
  position: fixed;
  width: 960px;
  height: 90%;
  top: 0;
  left: 0;
  padding: calc(5vh) calc(25vw);
  pointer-events: none;
}

/* line 126, style.scss */
#modal {
  background-color: white;
  height: calc(90vh - 50px);
  overflow: auto;
  pointer-events: auto;
}
/* line 132, style.scss */
#modal .cover-img {
  width: 100%;
  height: 400px;
}
/* line 136, style.scss */
#modal .student {
  float: left;
  width: 30%;
  padding: 20px 0 0 30px;
}
/* line 141, style.scss */
#modal .p-details {
  float: right;
  width: 60%;
  padding: 20px;
}
/* line 146, style.scss */
#modal > div {
  display: none;
}
/* line 149, style.scss */
#modal .format {
  text-transform: capitalize;
  color: #9e9e9e;
  margin: 0 0 10px 0;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}
/* line 155, style.scss */
#modal .round {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 161, style.scss */
#modal h1,
#modal h2,
#modal h3 {
  color: #424242;
}
/* line 166, style.scss */
#modal h1 {
  font-size: 3.5em;
  margin: 0 0 15px 0;
}
/* line 170, style.scss */
#modal h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}
/* line 174, style.scss */
#modal h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 178, style.scss */
#modal p {
  margin: 0 0 35px 0;
  line-height: 1.75;
}
/* line 182, style.scss */
#modal .other-imgs {
  padding-bottom: 40px;
}

/* line 303, style.scss */
#show-details:after {
  content: "";
  display: table;
  clear: both;
}

/* line 309, style.scss */
#logo {
  float: left;
  width: 60%;
}
/* line 313, style.scss */
#logo img {
  height: 500px;
  padding: 70px 0 120px 0;
}

/* line 320, style.scss */
#social {
  margin-top: 50px;
}
/* line 322, style.scss */
#social a {
  background-color: transparent;
}

/* line 327, style.scss */
.social-icon {
  width: 30px;
  display: inline-block;
  padding-right: 20px;
}

/* line 333, style.scss */
#info {
  float: right;
  width: 30%;
  max-width: 420px;
  bottom: auto;
  padding-bottom: 20px;
  transform: translateY(50%);
}
/* line 340, style.scss */
#info h4 {
  color: #424242;
  font-size: 1em;
  margin: 40px 0 5px 0;
}
/* line 345, style.scss */
#info .details {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.5em;
  color: #424242;
}

/* line 354, style.scss */
#share {
  display: none;
  width: 12em;
  text-align: center;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  color: #db1a94;
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  border-color: #db1a94;
}
