@font-face {
	src: url("Sneak-Trial-Bold.otf");
	font-family: STB;
}

body {
	margin: 0;
	background-color: #FAFAFA;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
}

.modal_wrapper {
	display: none;
	position: fixed;
	width: 90%;
	height: 90%;
	top: 0;
	left: 0;
	padding: calc(5vh) calc(5vw);
	pointer-events: none;
}

.modal {
	background-color: #FAFAFA;
	height: calc(90vh - 50px);
	padding: 50px 50px 0 50px;
	overflow: auto;
	pointer-events: auto;
}	

.content {
	display: inline-block;
	width: 300px;
	height: 200px;
	margin: 10px;
	background-color: #121212;
	background: url("project.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}