$pink: #db1a94;
$grey: #9e9e9e;
$darkgrey: #424242;
$sans-serif: "Roboto";
$slab-serif: "Roboto Slab",
Helvetica,
Arial,
sans-serif;
html {
    font-size: 16px;
}

body {
    font-family: $sans-serif;
}

.container {
    margin: 0 auto 0 auto;
    max-width: 960px;
}

// GALLERY ------------------- 
#proj-container {
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 10px;
    -webkit-column-gap: 20px;
}

img {
    max-width: 100%;
}

.tile {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    .overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        -moz-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        &:hover,
        &:active {
            opacity: 1;
        }
        .text {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px;
        }
    }
}

// MODAL -------------------
//colors
$black_85: rgba(0, 0, 0, 0.85);
$alabaster: #fafafa;
$color_bunker_approx: #121212;
.proj-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $black_85;
}

.modal_wrapper {
    display: none;
    position: fixed;
    width: 960px;
    height: 90%;
    top: 0;
    left: 0;
    // TO DO: AHMED TO FIX
    padding: calc(5vh) calc(25vw);
    pointer-events: none;
}

#modal {
    background-color: white;
    height: calc(90vh - 50px);
    // padding: 50px 50px 0 50px;
    overflow: auto;
    pointer-events: auto;
    .cover-img {
        width: 100%;
        height: 400px;
    }
    .student {
        float: left;
        width: 30%;
        padding: 20px 0 0 30px;
    }
    .p-details {
        float: right;
        width: 60%;
        padding: 20px;
    }
    > div {
        display: none;
    }
    .format {
        text-transform: capitalize;
        color: $grey;
        margin: 0 0 10px 0;
        font-family: $slab-serif;
    }
    .round {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    h1,
    h2,
    h3 {
        color: $darkgrey;
    }
    h1 {
        font-size: 3.5em;
        margin: 0 0 15px 0;
    }
    h2 {
        font-size: 1.5em;
        margin: 0 0 10px 0;
    }
    h3 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    p {
        margin: 0 0 35px 0;
        line-height: 1.75;
    }
    a {
        color: $pink;
        text-decoration: none;
        font-family: $slab-serif;
        -moz-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        &:hover {
            background-color: $pink;
            color: white;
        }
    }
    img:last-of-type {
      padding-bottom: 40px;
    }
}

// .loader {
//     background-color: #fff;
//     height: 100%;
//     width: 100%;
//     position: fixed;
//     top: 0px;
//     left: 0px;
//     z-index: 100;
//     opacity: 1;
//     -webkit-transition: all 1s;
//     /* Safari
//     transition: all 1s;
// }
// .loader-disappear {
//     opacity: 0;
// }
// .hatch {
//     position: absolute;
//     top: calc(50% + 125px);
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: $grey;
//     font-family: $slab-serif;
//     font-weight: 400;
//     opacity: 0;
//     -webkit-transition: opacity 0.5s;
//     /* Safari
//     transition: opacity 0.5s;
// }
// .hatch-appear {
//     opacity: 1;
// }
// .egg-still {
//     position: absolute;
//     top: 0%;
//     left: 50%;
//     transform: translate(-50%, -100%);
//     opacity: 1;
//     -webkit-transition: all 1s;
//     /* Safari
//     transition: all 1s;
// }
// .egg-drop {
//     top: 50%;
//     transform: translate(-50%, -50%);
//     cursor: pointer;
// }
// .egg-disappear {
//     opacity: 0;
//     cursor: auto;
// }
// .egg-disappear {
//     opacity: 0;
// }
// #logo {
//     position: absolute;
//     left: 5%;
//     top: 25px;
//     #brandmark {
//         width: 2.4em;
//     }
//     #logotype {
//         position: relative;
//         top: -1.25em;
//         margin-left: 15px;
//         display: inline-block;
//         font-size: 0.875em;
//         letter-spacing: 0.5em;
//         line-height: 1.75em;
//         color: $darkgrey;
//     }
// }
// #title-block {
//     position: absolute;
//     left: 50%;
//     top: 225px;
//     width: 90%;
//     max-width: 420px;
//     transform: translate(-50%, -50%);
//     .title-label {
//         color: $grey;
//         font-family: $slab-serif;
//         font-weight: 400;
//         font-size: 0.875em;
//         letter-spacing: 0.25em;
//         display: inline-block;
//     }
//     .line {
//         display: inline-block;
//         background-color: $pink;
//         height: 1px;
//         position: relative;
//         top: -0.3em;
//         margin: 0 20px;
//     }
//     #top-line {
//         width: calc( 90% - 170px);
//     }
//     #bottom-line {
//         display: inline-block;
//         width: calc( 90% - 105px);
//         margin: 30px 20px 0 0px;
//     }
//     #bottom-line-group {
//         display: block;
//     }
//     h1 {
//         // font-size: 4em;
//         color: $darkgrey;
//         margin: 25px 0;
//     }
//     #social {
//         display: block;
//     }
//     .social-icon {
//         width: 30px;
//         display: inline-block;
//         position: relative;
//         top: 10px;
//         margin-right: 10px;
//     }
// }
// #info {
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     top: 375px;
//     width: 90%;
//     max-width: 420px;
//     bottom: auto;
//     padding-bottom: 20px;
//     h4 {
//         color: $darkgrey;
//         font-size: 1em;
//     }
//     .info-box {
//         display: inline-block;
//         width: 45%;
//         vertical-align: top;
//         .details {
//             font-family: $slab-serif;
//             font-weight: 400;
//             font-size: 0.875em;
//             line-height: 1.5em;
//             color: $grey;
//             #invite {
//                 color: $pink;
//             }
//         }
//     }
// }
// #share {
//     display: none;
//     position: absolute;
//     right: 50px;
//     top: 550px;
//     bottom: auto;
//     width: 12em;
//     text-align: center;
//     font-family: $slab-serif;
//     font-weight: 400;
//     font-size: 0.875em;
//     color: $pink;
//     border-width: 1px;
//     border-style: solid;
//     padding: 15px;
//     border-color: $pink;
// }
// #dimmer {
//     z-index: 0;
//     opacity: 0.7;
//     background: #fff;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }
// #gradient {
//     z-index: 0;
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 1050px;
//     background: rgba(255, 255, 255, 1);
//     background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 0) 100%);
//     background: -webkit-gradient(left top, right top, color-stop(1%, rgba(255, 255, 255, 1)), color-stop(48%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
//     background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 0) 100%);
//     background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 0) 100%);
//     background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 0) 100%);
//     background: linear-gradient(to right, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 0) 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
// }
// #sketch {
//     z-index: -100;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     height: 1vh;
// }
// @media (min-width: 600px) {
//     html {
//         font-size: 16px;
//     }
//     .loader {
//         background-color: #fff;
//         height: 100%;
//         width: 100%;
//         position: fixed;
//         top: 0px;
//         left: 0px;
//         z-index: 100;
//         opacity: 1;
//         -webkit-transition: all 1s;
//         /* Safari
//         transition: all 1s;
//     }
//     .loader-disappear {
//         opacity: 0;
//     }
//     .hatch {
//         position: absolute;
//         top: calc(50% + 125px);
//         left: 50%;
//         transform: translate(-50%, -50%);
//         color: $grey;
//         font-family: $slab-serif;
//         font-weight: 400;
//         opacity: 0;
//         -webkit-transition: opacity 0.5s;
//         /* Safari
//         transition: opacity 0.5s;
//     }
//     .hatch-appear {
//         opacity: 1;
//     }
//     .egg-still {
//         position: absolute;
//         top: 0%;
//         left: 50%;
//         transform: translate(-50%, -100%);
//         opacity: 1;
//         -webkit-transition: all 1s;
//         /* Safari
//         transition: all 1s;
//     }
//     .egg-drop {
//         top: 50%;
//         transform: translate(-50%, -50%);
//         cursor: pointer;
//     }
//     .egg-disappear {
//         opacity: 0;
//         cursor: auto;
//     }
//     .egg-disappear {
//         opacity: 0;
//     }
//     #logo {
//         position: absolute;
//         left: 75px;
//         top: 50px;
//         #brandmark {
//             width: 37px;
//         }
//     }
//     #title-block {
//         position: absolute;
//         top: 306px;
//         left: 75px;
//         width: auto;
//         max-width: none;
//         transform: translateY(-50%);
//         #top-line {
//             width: 225px;
//         }
//         #bottom-line {
//             width: 165px;
//             margin: 0 20px 0 10px;
//         }
//         #bottom-line-group {
//             display: inline-block;
//         }
//         h1 {
//             width: 500px;
//             // font-size: 5em;
//         }
//         #social {
//             display: inline-block;
//         }
//     }
//     #info {
//         position: absolute;
//         left: 75px;
//         top: 525px;
//         bottom: auto;
//         .info-box {
//             width: 200px;
//         }
//     }
//     #share {
//         display: block;
//         top: 575px;
//     }
// }
// @media (min-height: 600px) and (min-width: 600px) {
//     #title-block {
//         position: absolute;
//         top: 45%;
//         transform: translateY(-50%);
//     }
//     #info {
//         top: auto;
//         position: absolute;
//         bottom: 50px;
//         transform: translate(0, 0);
//     }
//     #share {
//         bottom: 75px;
//         top: auto;
//     }
// }
// @media (min-height: 600px) and (max-width: 599px) {
//     #logo {
//         top: 50px;
//     }
//     #title-block {
//         position: absolute;
//         left: 50%;
//         top: 45%;
//         width: 90%;
//         max-width: 420px;
//         transform: translate(-50%, -50%);
//     }
//     #info {
//         position: absolute;
//         left: 50%;
//         transform: translateX(-50%);
//         width: 90%;
//         max-width: 420px;
//         top: auto;
//         bottom: 50px;
//         padding-bottom: 20px;
//         .info-box {
//             width: 200px;
//         }
//     }
// }
