/* line 19, style.scss */
html {
  font-size: 16px;
}

/* line 23, style.scss */
body {
  font-family: "Roboto";
}

/* line 27, style.scss */
.container {
  margin: 0 auto 0 auto;
  max-width: 960px;
}

/* line 33, style.scss */
#proj-container {
  column-count: 3;
  -webkit-column-count: 3;
  column-gap: 10px;
  -webkit-column-gap: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 33, style.scss */
  #proj-container {
    display: none;
  }
}

/* line 43, style.scss */
img {
  max-width: 100%;
}

/* line 47, style.scss */
a {
  color: #db1a94;
  text-decoration: none;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
/* line 55, style.scss */
a:hover {
  background-color: #db1a94;
  color: white;
}

/* line 61, style.scss */
.tile {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  margin-bottom: 20px;
  width:100%;
  max-width: 300px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: auto;
}
/* line 70, style.scss */
.tile h1 {
  font-size: 1.5em;
  margin: 0 0 5px 0;
  text-transform: capitalize;
}
/* line 75, style.scss */
.tile p {
  margin: 0 0 20px 0;
}
/* line 78, style.scss */
.tile .tags {
  color: #db1a94;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: capitalize;
}
/* line 84, style.scss */
.tile .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  height: calc(100% - 4px);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
/* line 99, style.scss */
.tile .overlay:hover, .tile .overlay:active {
  opacity: 1;
}
/* line 103, style.scss */
.tile .overlay .text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

/* line 117, style.scss */
.proj-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

/* line 127, style.scss */
.modal_wrapper {
  display: none;
  position: fixed;
  width: 960px;
  height: 90%;
  top: 0;
  left: 0;
  padding: calc(5vh) calc((100vw - 960px)/2);
  pointer-events: none;
}

/* line 139, style.scss */
#modal {
  background-color: white;
  height: calc(90vh - 50px);
  overflow: auto;
  pointer-events: auto;
}
/* line 145, style.scss */
#modal .cover-img {
  width: 100%;
  height: 400px;
}
/* line 149, style.scss */
#modal .student {
  float: left;
  width: 30%;
  padding: 20px 0 0 30px;
}
/* line 154, style.scss */
#modal .p-details {
  float: right;
  width: 60%;
  padding: 20px;
}
/* line 159, style.scss */
#modal > div {
  display: none;
}
/* line 162, style.scss */
#modal .format {
  text-transform: capitalize;
  color: #9e9e9e;
  margin: 0 0 10px 0;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}
/* line 168, style.scss */
#modal .round {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 174, style.scss */
#modal h1,
#modal h2,
#modal h3 {
  color: #424242;
}
/* line 179, style.scss */
#modal h1 {
  font-size: 3.5em;
  margin: 0 0 15px 0;
}
/* line 183, style.scss */
#modal h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}
/* line 187, style.scss */
#modal h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 191, style.scss */
#modal p {
  margin: 0 0 35px 0;
  line-height: 1.75;
}
/* line 195, style.scss */
#modal .other-imgs {
  padding-bottom: 40px;
}

/* line 316, style.scss */
#show-details:after {
  content: "";
  display: table;
  clear: both;
}

/* line 322, style.scss */
#logo {
  float: left;
  width: 60%;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 322, style.scss */
  #logo {
    float: none;
    width: 80%;
    margin: 0 auto 0 auto;
  }
}
/* line 330, style.scss */
#logo img {
  max-height: 500px;
  padding: 70px 0 120px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 330, style.scss */
  #logo img {
    padding: 70px 0 50px 0;
  }
}

/* line 339, style.scss */
#social {
  margin-top: 50px;
}
/* line 341, style.scss */
#social a {
  background-color: transparent;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 339, style.scss */
  #social {
    text-align: center;
  }
}

/* line 349, style.scss */
.social-icon {
  width: 30px;
  display: inline-block;
  padding-right: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 349, style.scss */
  .social-icon {
    width: 40px;
  }
}

/* line 358, style.scss */
#info {
  float: right;
  width: 30%;
  max-width: 420px;
  bottom: auto;
  padding-bottom: 20px;
  transform: translateY(50%);
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 358, style.scss */
  #info {
    display: table;
    margin: 0 auto;
    float: none;
    width: auto;
    bottom: auto;
    padding-bottom: 40px;
    transform: none;
  }
}
/* line 374, style.scss */
#info h4 {
  color: #424242;
  font-size: 1em;
  margin: 40px 0 5px 0;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 374, style.scss */
  #info h4 {
    font-size: 1.2em;
  }
}
/* line 383, style.scss */
#info .details {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.5em;
  color: #424242;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 383, style.scss */
  #info .details {
    font-size: 1.2em;
    line-height: 1.6em;
  }
}

/* line 396, style.scss */
#share {
  display: none;
  width: 12em;
  text-align: center;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  color: #db1a94;
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  border-color: #db1a94;
}
