/* line 9, style.scss */
html {
  font-size: 16px;
}

/* line 13, style.scss */
body {
  font-family: "Roboto";
}

/* line 17, style.scss */
.container {
  margin: 0 auto 0 auto;
  max-width: 960px;
}

/* line 23, style.scss */
#proj-container {
  column-count: 3;
  -webkit-column-count: 3;
  column-gap: 20px;
  -webkit-column-gap: 20px;
}

/* line 30, style.scss */
img {
  max-width: 100%;
}

/* line 34, style.scss */
.tile {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
/* line 43, style.scss */
.tile .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
/* line 58, style.scss */
.tile .overlay:hover, .tile .overlay:active {
  opacity: 1;
}
/* line 62, style.scss */
.tile .overlay .text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

/* line 76, style.scss */
.proj-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

/* line 86, style.scss */
.modal_wrapper {
  display: none;
  position: fixed;
  width: 960px;
  height: 90%;
  top: 0;
  left: 0;
  padding: calc(5vh) calc(25vw);
  pointer-events: none;
}

/* line 97, style.scss */
#modal {
  background-color: #fafafa;
  height: calc(90vh - 50px);
  padding: 50px 50px 0 50px;
  overflow: auto;
  pointer-events: auto;
}
/* line 104, style.scss */
#modal > div {
  display: none;
}
